<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:600"
      rel="stylesheet"
    />
    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script src="{% static 'testbigfive/scripts.js' %}"></script>
    <link rel = 'stylesheet' href = {% static 'testbigfive/style.css'%}>
  </head>
  <body>
    <!-- Your HTML content -->
    {% comment %} <button onclick="f1()">Click me!</button> {% endcomment %}

    <div class="container justify-content-center border">
      <div class="row justify-content-center">
        <div class="d-flex align-items-center justify-content-center">
          <img src={% static 'testbigfive/emblem.png'%} alt="Logo testbigfive.ro
          test personalitate Big Five" style="width:120px;height:120px;
          text-align:center;">
        </div>
      </div>
      <hr />
      <br />
      <div class="row justify-content-center">
        <div class="col-10 panel">
          <p class="text-justify">
            <strong>Următoarele intrebari conțin serii de afirmații.</strong>
            Aveți posibilitatea de a parcurge un test scurt, de 20 intrebări și
            unul extensiv, de 100 intrebări. Pentru testul scurt, vă puteți
            aștepta la o plasare aproximativă în distribuția trăsăturilor. În
            urma celui extensiv, veți fi plasat cu un înalt grad de acuratețe în
            distribuția trăsăturilor. În ambele cazuri veți primi o descriere
            detaliată a fiecărei trăsături. De asemenea, puteți ajunge la
            descrierile trăsăturile și fără să completați testul. Trebuie să
            dați click pe butonul Trimite Răspunsurile.
          </p>
          <p>
            După ce ați trimis răspunsurile la afirmații, veți primi rezultatele
            testului. Cele 5 dimensiuni evaluate sunt: agreabilitatea,
            conștiinciozitatea, deschiderea către experiențe, extraversia și
            stabilitatea emoțională.
          </p>

          <p>
            În urma trimiterii răspunsurilor vei avea acces la o pagină care
            descrie fiecare dintre cele 5 dimensiuni de personalitate.
          </p>
          <p>
            Descrieți așa cum sunteți acum. Ajută să vă raportați la persoanele
            din anturajul dumneavoastră. Răspunsurile dumneavoastră la aceste
            întrebări nu vă identifică personal; ele sunt adăugate unei baze de
            date în mod anonim. Pentru fiecare afirmație, alegeți dacă este
            <strong
              >1. Foarte falsă, 2. Falsă, 3. Nici falsă, nici adevărată, 4.
              Adevărată sau 5. Foarte adevărată.</strong
            >;
          </p>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="d-flex align-items-center justify-content-center">
          <button
            type="button"
            class="btn btn-light"
            id="bring_tbl"
            onclick="survey()"
          >
            Arata testul
          </button>
        </div>
      </div>
      <br />

      <div class="container col-10 d-none" id="mytable">
        <div class="row justify-content-center">
          <div class="justify-content-center form-control">
            <form method="post">
              <table class="table table-striped table-sm">
                <tr>
                  <td>
                    <span> Itemi </span>
                  </td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                </tr>
                {% csrf_token %} {% for i, val in q_set.items %}
                <tr>
                  <td>
                    <span> {{val}} </span>
                  </td>
                  {% for j in m %}
                  <td>
                    <input
                      type="radio"
                      name="item{{i}}"
                      id="item{{i}}{{j}}"
                      value="{{j}}"
                    />
                  </td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </table>
              <button
                type="submit"
                value="Submit"
                class="btn btn-light form-control"
              >
                Trimite
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% if err == 0 %}
    <script>
      alert("Vă rog completați toate intrebările pentru a trece mai departe.");
    </script>
    {% endif %}

    <br />
    <div class="container">
      <div class="row justify-content-center">
        <hr />
        <div>
          <pre style="float: left; font-size: 11px">
Test Personalitate Big Five</pre
          >
          <pre
            style="float: right; font-size: 11px"
          ><a style="float: right;" href="https://www.facebook.com/TestBigFive.ro/" target="_blank"><i class="fa fa-facebook-square" style="font-size:15px"></i></a>
        contact</pre>
        </div>
        <br />
        <br />
      </div>
    </div>
  </body>
</html>
