<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:600"
      rel="stylesheet"
    />
    <script src="{% static 'testbigfive/scripts.js' %}"></script>
    <link rel = 'stylesheet' href = {% static 'testbigfive/style.css'%}>

    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Your HTML content -->
     {% comment %} <button onclick="f1()">Click me!</button> {% endcomment %}

    {% comment %} <button onclick="alert('Hello, World!')">Click Me!</button> {% endcomment %}

    
    <div class="container justify-content-center border">
      <div class="row justify-content-center">
        <div class="d-flex align-items-center justify-content-center">
          <img src={% static 'testbigfive/emblem.png'%} alt="Logo testbigfive.ro
          test personalitate Big Five" style="width:120px;height:120px;
          text-align:center;">
        </div>
      </div>
      <br />
      <div class="row justify-content-center">
        <div class="col-10 panel">
          <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Nunc
            pulvinar sapien et ligula ullamcorper malesuada proin libero nunc.
            Neque viverra justo nec ultrices dui sapien eget mi proin. Vitae
            nunc sed velit dignissim sodales ut eu sem integer. Congue nisi
            vitae suscipit tellus. Turpis egestas pretium aenean pharetra magna
            ac placerat. Cursus mattis molestie a iaculis at erat. Morbi leo
            urna molestie at. Ac tortor vitae purus faucibus ornare suspendisse
            sed. Lorem mollis aliquam ut porttitor leo. Quisque egestas diam in
            arcu cursus euismod quis viverra nibh. Erat pellentesque adipiscing
            commodo elit at imperdiet dui accumsan sit. Purus ut faucibus
            pulvinar elementum integer enim neque. Gravida dictum fusce ut
            placerat. Lacus viverra vitae congue eu consequat ac. Sed egestas
            egestas fringilla phasellus faucibus scelerisque eleifend donec.
            Gravida dictum fusce ut placerat orci nulla pellentesque dignissim
            enim. Etiam non quam lacus suspendisse faucibus interdum posuere.
            Cras pulvinar mattis nunc sed blandit libero volutpat. Fermentum leo
            vel orci porta non pulvinar. Amet tellus cras adipiscing enim eu. A
            erat nam at lectus urna duis convallis convallis tellus. Dictum sit
            amet justo donec enim diam vulputate. Risus ultricies tristique
            nulla aliquet. In nibh mauris cursus mattis molestie. Purus sit amet
            luctus venenatis lectus. Eget mauris pharetra et ultrices neque
            ornare. Ac odio tempor orci dapibus ultrices in. Euismod lacinia at
            quis risus sed vulputate odio ut. Blandit cursus risus at ultrices
            mi tempus imperdiet nulla. Bibendum arcu vitae elementum curabitur
            vitae nunc sed. Libero volutpat sed cras ornare. Nunc non blandit
            massa enim nec dui. Ac tortor vitae purus faucibus ornare
            suspendisse sed. Tincidunt ornare massa eget egestas purus viverra
            accumsan in. Imperdiet massa tincidunt nunc pulvinar sapien et. Arcu
            cursus euismod quis viverra nibh cras pulvinar mattis nunc. Tempor
            nec feugiat nisl pretium fusce. Faucibus pulvinar elementum integer
            enim neque volutpat ac tincidunt vitae. Eget nullam non nisi est sit
            amet facilisis. Porta non pulvinar neque laoreet. Sed blandit libero
            volutpat sed cras ornare arcu. Orci porta non pulvinar neque laoreet
            suspendisse interdum. Proin fermentum leo vel orci porta non
            pulvinar. Rhoncus mattis rhoncus urna neque viverra justo nec
            ultrices. Nunc sed id semper risus in hendrerit gravida. Gravida in
            fermentum et sollicitudin ac orci phasellus egestas tellus. Commodo
            odio aenean sed adipiscing diam donec adipiscing. Et malesuada fames
            ac turpis egestas sed tempus urna. Et ultrices neque ornare aenean
            euismod elementum nisi quis eleifend. At auctor urna nunc id. Ac
            auctor augue mauris augue. Ultrices mi tempus imperdiet nulla
            malesuada pellentesque elit eget gravida. Adipiscing elit ut aliquam
            purus. Aliquam ultrices sagittis orci a scelerisque purus semper
            eget duis. Aliquam purus sit amet luctus venenatis lectus magna
            fringilla. Nisl tincidunt eget nullam non nisi est sit amet. Iaculis
            at erat pellentesque adipiscing commodo elit. Euismod lacinia at
            quis risus sed vulputate. Duis convallis convallis tellus id
            interdum velit. Dictum non consectetur a erat nam at lectus urna.
            Non arcu risus quis varius quam quisque id. Mauris commodo quis
            imperdiet massa tincidunt nunc pulvinar sapien et. Auctor eu augue
            ut lectus arcu bibendum at. Semper risus in hendrerit gravida. Sit
            amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar.
            Lectus quam id leo in vitae turpis massa. Aenean pharetra magna ac
            placerat vestibulum.
          </p>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class = 'd-flex align-items-center justify-content-center'>
        <button type = "button" class="f1 btn btn-light">Arata testul</button>
        </div>
      </div>
      <br />

      <div class = 'container col-10'>
      <div class="row justify-content-center invisible" id="mytable">
        <div class="justify-content-center form-control">
          <form method="post">
            <table class="table table-striped table-sm">
              {% csrf_token %} {% for int(i), val in q_set.items %}
              <tr>
                <td>
                  <span> {{val}} </span>
                </td>
                {% for j in m %}
                <td>
                  <input
                    type="radio"
                    name="item{{i}}"
                    id="item{{i}}{{j}}"
                    value="{{j}}"
                  />
                </td>
                {% endfor %}
              </tr>
              {% endfor %}
            </table>
            <div class = 'form-control'>
              <button type="submit" value="Submit" class = "btn btn-light form-control" />Trimite raspuns</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </body>

  <div class = 'container'>
    <div class = 'row justify-content-center'>
    <hr>
    <div > <pre style="float: left; font-size: 11px;">Toate drepturile rezervate
    testbigfive.ro</pre> <pre style="float: right; font-size: 11px;"><a style="float: right;" href="https://www.facebook.com/TestBigFive.ro/" target="_blank"><i class="fa fa-facebook-square" style="font-size:15px"></i></a>
      contact@testbigfive.ro</pre> </div>
    <br>
    <br>
    </div>
  </div>
</html>
